@import './index.scss';
@import './variables.scss';

* {
  font-family: 'Press Start 2P', cursive !important;
}

body {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $gradient-to;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $gradient-from, $gradient-to);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $gradient-from, $gradient-to); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#root {
  width: 95%;

  .github-link {
    padding-top: 9rem;
    float: right;
    color: $black;
  
    .nes-balloon {
      top: -5rem;
      position: relative;
      animation: bounce .3s infinite alternate;
    }
  }
}

.with-margin-top {
  margin-top: 2rem;
}

.pokecontainer {
  margin-top: 5rem;
  &:first-of-type {
    margin-top: 0;
  }
}

.nes-container {
  
  &::before {
    background: $white;
  }

  &.with-margin-top {
    margin-top: 3rem;
  }
}

.is-centered {
  text-align: center;
}

.with-padding-on-sides {
  padding: 0 12%;
}

.card {
  text-align: center;
  padding: .8rem 0;
  border: 9px ridge $card-char-border-color;
  border-radius: 2rem;

  figure {
    margin-bottom: 0;

    &::after {
      display: inline-block;
      content: ' ';
      position: relative;
      top: 1rem;
      left: 0;
      background:$char-regular-color;
      height: 1.3rem;
      width: 100%;
      z-index: -1;
    }

    &.unselected {
      &::after {
        background:$char-unselected-color;
      }
    }

    &.selected {
      &::after {
        background: $char-selected-color;
      }
    }
  }

  figcaption {
    margin-top: .5rem;
    font-size: .6rem;
    margin-bottom: -2rem;
    text-align: center;
    color: $black;
  }
}

.tile {
  transition: .3s ease-in-out;

  &.inactive {
    transform:scale(.7);
  }

}


// Key Frame (animation)

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}