
$gradient-from: #E9E4F0;
$gradient-to: #D3CCE3;

$card-char-border-color: #9CAFC2;
$char-regular-color: #A6BBCF;
$char-unselected-color: #CC9490;
$char-selected-color: #90CCA9;

$white: #fff;
$black: #212529;